body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: whitesmoke;
    color: black;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

h1 {
    /* margin: 1em auto; */
    margin: 0;
    padding: 0;
}

p {
    display: inline-block;
    margin: 0;
    padding: 0;
}

form {
    width: 60vw;
    /* max-width: 500px; */
    background-color: aliceblue;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

.cancel-your-booking {
    width: 100%;
}

fieldset {
    border: none;
    /* padding: 2rem 0; */

}

label {
    /* display: block; */
    margin: 0.5rem 0;
}

div {
    background-color: lightgray;
    margin: 22px;

}

select {
    width: 100%;
}


input,
textarea {
    margin: 10px 0 0 0;
    width: 100%;
    background-color: white;
    border: 1px solid #0a0a23;
    color: black;
    min-height: 2em;
}

textarea {
    height: 100px;
}

legend {
    margin: 5px;
    padding: 5px;
    font-size: large;
    font-weight: 600;
    font-style: italic;
    /* background-color: grey; */
    /* display: inline-block; */
}


.btn {
    display: inline-block;
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
    border: 1px solid black;
}

.part {
    border-bottom: 2px solid #ffffff;
}

div>.double {
    width: 40%;
    display: inline-block;
}